# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# rust
target/

# frontend code
node_modules/
dist/
.svelte-kit/

# environment variables
.env

.mops
# Local artifacts 
*.joblib

# DFINITY/Internet Computer
.dfx/
.vessel/
.mops/

# Rust
target/
Cargo.lock

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd