.buttonFancy {
    position: relative;
    display: inline-block;
    font-family: 'General Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0C0D14;
    background-color: #99E39E;
    padding: 18px 48px;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: background 0.2s ease;
    outline: none;
    line-height: 1.1;
    text-align: center;
    overflow: visible;
    box-shadow: -8px 8px 0 0 #A259FF;
}

.buttonFancy:hover {
    background: #83D36F;
}

@media (max-width: 600px) {
    .buttonFancy {
        font-size: 14px;
        padding: 10px 24px;
        box-shadow: -4px 4px 0 0 #A259FF;
    }
}